@use "../../all" as *;

.cNav {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // gap: 2vh;
  // width: 50%;
  // justify-content: flex-end;

  .nav {
    display: flex;
    gap: 10%;
    text-align: center;
    gap: 1.25rem; /* use rem instead of % so scrollbars don’t change it */

    .link {
      text-decoration: none;
      font-weight: 600;
      color: $black;
    }
  }

  .logo {
    width: 250px;
    height: 250px;
    filter: contrast(740%) brightness(100%);
    background: radial-gradient(
        circle at 50% 50%,
        rgba(255, 255, 255, 1),
        rgba(46, 42, 57, 1)
      ),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 214 214' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='10' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  }

  // section {
  //   // display: flex;
  //   // flex-direction: column;
  //   // justify-content: center;

  //   .nav {
  //     display: flex;
  //     flex-direction: column;
  //     text-align: center;

  //     .link {
  //       text-decoration: none;
  //       font-weight: 600;
  //       color: $black;
  //       position: relative;
  //     }
  //   }
  // }
}

@media (max-width: 1050px) {
  .cNav {
    // flex-direction: row;
    // // position: sticky;

    .logo {
      width: 150px;
      height: 150px;
      background-size: cover;
      background-position: center;
      background: radial-gradient(
          circle at 50% 50%,
          rgba(255, 255, 255, 1),
          rgba(46, 42, 57, 1)
        ),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 125 125' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='10' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    }
  }
}
