@use "../../all" as *;

.cLayout {
  filter: contrast(100%) brightness(100%);
  color: $black;

  .background {
    // position: fixed;
    position: sticky;
    top: 20%;
    left: 0;
    margin-left: 5%;
    height: 0;
    // max-height: 100vh;
    pointer-events: none;

    .text {
      width: 100vw;
      position: absolute;

      h1 {
        font-size: 10ch;
        letter-spacing: 7px;
        position: relative;
        color: rgba($color: $black, $alpha: 0.2);
      }
    }
  }

  .header {
    min-height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: sticky;
    z-index: 2;

    .logo {
      background-image: url(../../../assets/logos/logo.svg);
      fill: $black;
      width: 25px;
      height: 25px;
      background-repeat: no-repeat;
      shape-rendering: crispEdges;
    }
    // .nav {
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   gap: 20%;

    //   .link {
    //     // color: #f2f5ea;
    //     font-weight: bold;
    //     text-decoration: none;
    //   }
    // }
  }

  .content {
    width: 85vw;
    display: flex;
    // justify-content: space-between;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    min-height: 90vh;
    position: relative;

    article {
      width: 55vw;

      padding: 1rem;
      overflow-y: scroll;
      // overflow-x: visible;
    }
  }
}

@media (max-width: 1050px) {
  .cLayout {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow: hidden;

    .header {
      padding: 5% 5%;
    }

    .content {
      width: 100vw;
      flex-direction: column;
      justify-content: flex-start;

      article {
        width: 100%;
        padding-bottom: 10vh;
      }
    }
  }
}
