@use "../../all" as *;

.entry {
  // max-height: 90vh;
  padding-bottom: 2rem;

  .images {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    // .eachSlideEffect {
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   height: 100%;
    //   .image {
    //     max-width: 100%;
    //     max-height: 100%;
    //     object-fit: contain;
    //   }
    // }

    .image {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  .frontmatter {
    width: 50%;
    // border: 1px solid black;
    margin: 2% 0;
    padding: 2% 0;

    .date {
      font-style: italic;
    }

    .keywords {
      display: flex;
      gap: 1.15rem;

      .keyword {
        border: 1px solid black;
        padding: 0.75rem 1.25rem;
        border-radius: 25px;
      }
    }
  }

  p {
    font-size: 1.2em;
    // font-weight: 500;
  }
}

@media (max-width: 1050px) {
  .entry {
    padding: 1rem;
    padding-bottom: 3rem;

    max-height: fit-content;

    // .images {
    // }
  }
}
