@import url("https://api.fontshare.com/v2/css?f[]=satoshi@700,500,300,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Satoshi", sans-serif;
  background-color: #000;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}
body {
  height: 100vh;
}
.header {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);

  border: 1px solid rgba(255, 255, 255, 0.18);

  color: #fff;

  padding: 0 5%;
  position: fixed;
  z-index: 2;
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;

    .link {
      color: #fff;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main {
  box-sizing: border-box;
  width: 80vw;
  margin: 0 auto;
  height: 50px;
  max-height: 3000px;
  padding: 4%;

  border: 2px solid black;
  transition: height 500ms ease-in-out;

  & > * {
    animation: fadeIn 800ms ease-in-out;
  }

  //glassmorphism

  // background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  color: #fff;

  p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}

.svg {
  position: absolute;
  z-index: 1;
  // background: url(../assets/imgs/grid.svg) repeat;
  min-height: 90vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.before_main {
  margin: 10%;
}

.light {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15em;
  height: 15em;
  filter: blur(35px);

  // background: linear-gradient(90deg, #335bf4 0%, #2ae9c9 100%);
  // background: linear-gradient(90deg, #3339f4 0%, #3373f4 100%);

  //spotlight
  background: linear-gradient(90deg, #6e6e7b 0%, #8696b3 100%);
  z-index: 0;
  border-radius: 40%;
  transition: top 60ms, left 60ms;
}

@media (max-width: 1040px) {
  .before_main {
    margin: 20% 0;
  }
  .main {
    width: 80vw;
  }
}
@media (max-width: 450px) {
  .before_main {
    margin: 30% 0;
  }
  .main {
    margin: 0 auto;
    width: 90vw;
  }
}
